*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.main{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(44, 70, 106);
    padding: 10px;
}
.appContainer{
    width: 50%;
    min-width: 540px;
    margin: 10% auto 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    flex-direction: column;
}
.appContainer .heading{
    color: white;
}
.addItem{
    display: flex;
    justify-content: space-between;
    background-color: rgb(222, 222, 222);
    padding: 0. px;
    width: 100%;
    margin-top: 5%;
    border-radius: 15px;
}
.addItem input{
    width: 100;
    flex: 1;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    outline: none;
}
.addItem button{
    background-color: red;
    padding: 16px 50px;
    border: none;
    border-radius: 15px;
    background-color: rgb(14, 134, 64);
    font-size: 2vh;
    color: white;
}
.listContainer{
    margin-top: 2%;
}
ul li{
    list-style: none;
    padding: 15px;
    background-color: rgb(239, 239, 239);
    margin-top: 2%;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    position: relative;
    
}
ul li::before{
    content: '';
    position: absolute;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    background-image: url(assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 14px;
}

ul li.checked{
    color: rgb(163, 163, 163);
}
ul li.checked::before{
    background-image: url(assets/checked.png);
}








